th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 200px;
}

table{
    border-collapse: collapse;
}

th{
    background-color: lightgray;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
div{
    text-align: center;
    border: 5px solid black;
    height: auto;
}

header{
    padding: 25px;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

body{
    padding: 0;
    margin: 0;
}

.Reprovado{
    background-color: red;
}

.Aprovado{
    background-color: green;
}