.produto{
    margin-top: 30px;
    border: 3px solid #E0E0E0;
    border-radius: 10px;
    text-align: center;
    width: 560px;
    height: 590px;
    background-color: #ffffff;
    margin-bottom: 30px;
    transition: box-shadow 0.8s ease;
    transition: color 0.8 ease-in;
    transition: background-color 0.8s ease-in;
    transition: transform 1s ease;
}
p{
    transition: color 0.5 ease-in;
}

.produto:hover{
    box-shadow: 0 0 25px #0046FF;
    color: white;
    background-color: #083667;
    transform: scale(105%);
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

img{
    width: 320px;
    border-radius: 10px;
    margin-top: 30px;
}

.imagem{
    transition: transform 1.5s ease;
}

.imagem:hover{
    transform: scale(110%);
}

body{
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #0046FF;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer{
    background-color: #0046FF;
    padding: 25px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.TituloFooter{
    font-size: 35px;
}

.logo{
   margin-top: 10px;
}

a{
    color: white;
    text-decoration: none;
    transition: color 0.8s ease;
}

.botao{
    padding: 15px;
    width: 250px;
    margin-bottom: 30px;
    color: #ffffff;
    background-color: #FF6600;
    border: none;
    border-radius: 10px;
    transition: color 1s ease;
    cursor: pointer;
}

a:hover{
    color: #FF6600;
    text-decoration: underline;
    text-decoration-color: #FF6600;
    text-decoration-thickness: 3px;
}

.produto p{
    font-size: 28px;
}

span{
    font-size: 20px;
}

.botao{
    transition: background-color 1s ease;
    transition: width 1.5s ease;
}

.botao:hover{
    background-color: #0046FF;
    width: 450px;
}


