body{
    height: 300vh;
}

::-webkit-scrollbar{
    width: 50px; /*ESPAÇO PARA BARRA DE ROLAGEM*/
}

::-webkit-scrollbar-track{
    background-color: blue; /*COR DO ESPAÇO DE ROLAGEM INTEIRA*/
}

::-webkit-scrollbar-thumb{
    background-color: red; /*COR DA BARRA DE ROLAGEM*/
    border-radius: 50px;
}