body{
    margin: auto;
    background-color: black;
    overflow-x: hidden;
    background-position: center;
    font-family: "Montserrat", sans-serif;
}

header{
    background-color: black;
    padding: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 6px solid #6e1e23;
    position: fixed;
    z-index: 7;
    top: 0;
}

.COMECO{
    width: 76vw;
    display: flex;
    justify-content: center;
}

.COMECO a{
    margin: 0 110px;
}

/* Rodapé */
footer{
    background-color: #6e1e23;
    height: 19vh;
    margin-top: 85px;
    width: 100%;
    border-top: 6px solid #6e1e23;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
    margin: 0 ;
}

footer hr{
    width: 50vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    text-align: center;
}

/* Main */
main{
    max-width: 1400px;
    height: 150vh;
    background-color: #f8f9fa;
    border-radius: 20px;
    padding: 40px;
    margin: 0 auto;
    text-align: center; 
    border: 6px solid #6e1e23;
    margin-top: 50px;
    flex-wrap: wrap;
}

.TituloMain{
    font-size: 70px;
    margin: 0 auto;
    font-family: "Kaushan";
}
/* Titulo do Carrossel */
.tituloPrincipal{
    font-family: "UnifrakturMaguntia", cursive;
    font-size: 100px;
    position: absolute;
}

.imagens{
    width: 99.9vw;
    height: 467px;
}

.carrossel{
    width: 99.9vw;
    height: 467px;
    border-bottom: 5px solid #6e1e23;
    margin-top: 137px;
}

.cImg{
    display: flex;
    width: 400%;
    animation: deslizar 13.5s infinite;
}

@keyframes deslizar {
    0%{transform: translateX(0);}
    20%{transform: translateX(0);}

    45%{transform: translateX(-1920px);}
    25%{transform: translateX(-1920px);}

    50%{transform: translateX(-3840px);}
    70%{transform: translateX(-3840px);}

    75%{transform: translateX(-5760px);}
    95%{transform: translateX(-5760px);}

    100%{transform: translateX(0);}
}

/* Produtos */
.Imgproduto{
    width: 350px;
    display: flex;
    justify-content: space-around;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.produto:hover{
    transform: scale(1.1);
    box-shadow: 0 0 50px gray;
}

.produto{
    width: 350px;
    height: 560px;
    text-align: center;
    margin-top: 50px;
    border: 6px solid #6e1e23;
    border-radius: 16px;
    transition: 0.5s ease-in-out;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.carro{
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 1px;
    font-family: MontSerrat;
}

/* Separador */

hr{
    width: 348px;
    color: white;
    margin-top: 5px;
}

/* Link */

a{
    text-decoration: none;
    color: black;
}

/* Informações do carro */

.infoP{
    display: flex;
    justify-content: space-around;
}   

.informacoes{
    font-size: 20px;
}

.preco{
    font-family: Poppins;
    font-size: 37px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #6e1e23;
}

 .info1{
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .info1 img{
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
/* FONTES */

@font-face{
    font-family: Poppins;
    src: url(/ConclusaoDeCurso/Fontes/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: MontSerrat;
    src: url(/ConclusaoDeCurso/Fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Unifraktur;
    src: url(/ConclusaoDeCurso/Fontes/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf);
}

@font-face {
    font-family: Kaushan;
    src: url(/ConclusaoDeCurso/Fontes/Kaushan_Script/KaushanScript-Regular.ttf);
}

/*BOTOES*/
#entrar{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 18px;
    background-color: #6e1e23;
}

/* ANIMAÇÃO BOTÃO ENTRAR */
#entrar:active{
    transform: scale(0.9);
}

/* BOTÕES DO HEADER */
#comeco{
    color: white;
    font-size: 22px;
    text-decoration: none;
    position: relative;
}

/* ANIMAÇÃO BOTÕES DO HEADER */
#comeco::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: red;
    transition: width 0.5s;
}

#comeco:hover::after{
    width: 100%;
}

/* ANIMAÇÃO LOGO */
#imgL{
    transition: transform 0.2s ease-in;
}

#imgL:hover{
    transform: scale(1.1);
}

#mapa{
    text-align: center;
}

/* ------------------------------- */

.tituloLoca{
    color: white;
    font-family: "kaushan";
    font-size: 40px;
}

.wpp{
    border-radius: 360px;
    background-color: #32d951;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 830px;
    left: 94%;
    cursor: pointer;
}

.wpp:active{
    transform: scale(0.90);
}

.wpp img{
    width: 50px;
    height: 50px;
}

/* FILTRAGEM */

.filtro{
    margin: 0 auto;
    margin-top: 55px;
    width: 60%;
    height: 385px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    border: 6px solid #6e1e23;
}

.filtragem{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.opcoesMarcas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.marcas{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.caixa1{
    width: 100px;
    height: 100px;
    background-color: none;
    border: 3px solid black;
    border-radius: 360px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCARROS{
    width: 70px;
    height: 70px;
}

#opcoes {
    margin-right: 30px;
    font-size: 22px;
    color: gray;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

/* ANIMAÇÃO FILTRO */

#opcoes::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: red;
    transition: width 0.5s;
}

#opcoes:hover{
    color: black;
}

#opcoes:hover::after{
    width: 100%;
}

#opcoes:focus {
    color: #1c1c1c;
    font-weight: bold;
}

#opcoes:focus::after {
    width: 100%;
}

/* --------------------------- */

/* BOTÕES FILTRO */
.botoes{
    margin-left: 10px;
    margin-bottom: 20px;
}

.botoes button{
    border-radius: 360px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    transition: background-color 0.5s ease-in-out;
    margin-right: 35px;
}

.botoes button:focus{
    background-color: red;
    color: white;
}

/* ----------------- */

/* BARRA DE PESQUISA FILTRAGEM */
.pesquisa{
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#BarraPesquisa{
    margin-left: 12px;
    font-size: 18px;
    font-family: Montserrat;
    border: none;
    width: 100%;
    height: 100%;
}

#BotaoPesquisa{
    padding: 15px;
    width: 300px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-family: Montserrat;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#BotaoPesquisa:active{
    transform: scale(0.9);
}

.pesquisa1 input:focus{
    outline: none; 
    border: none;       
    box-shadow: none;
}

#imgLUPA{
    height: 35px;
    width: 35px;
    margin-left: 12px;
    border: none;
}

.pesquisa1{
    width: auto;
    height: auto;
    border: 3px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 70%;
    height: 50px;
    margin-right: 15px;
}
/* ---------------------------- */

/* BOTAO VER DETALHE */
.botao{
    display: flex;
    justify-content: center;
}

.botao2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-top: 15px;
    background-color: #6e1e23;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}

.IMGseta{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.botao1:active, .botao2:active{
    transform: scale(0.9);
}

/* --------------------------------------- */

.botao1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 50px;
    margin-top: 35px;
    background-color: #6e1e23;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

.botao1 img{
    transform: rotate(270deg);
}

.imgLamborghini{
    width: 130px;
    height: 75px;
}

.imgAUDI{
    width: 80px;
    height: 40px;
}