/* FONTES */
@font-face{
    font-family: Poppins;
    src: url(/ConclusaoDeCurso/Fontes/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: MontSerrat;
    src: url(/ConclusaoDeCurso/Fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Unifraktur;
    src: url(/ConclusaoDeCurso/Fontes/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf);
}

@font-face {
    font-family: Kaushan;
    src: url(/ConclusaoDeCurso/Fontes/Kaushan_Script/KaushanScript-Regular.ttf);
}

header{
    background-color: black;
    padding: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 6px solid #6e1e23;
    position: fixed;
    z-index: 7;
    top: 0;
}

.COMECO{
    width: 76vw;
    display: flex;
    justify-content: center;
}

.COMECO a{
    margin: 0 110px;
}

.TITULOmain{
    font-size: 70px;
    margin: 0 auto;
    font-family: "Kaushan";
    color: white;
}

/*BOTOES*/
#entrar{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 18px;
    background-color: #6e1e23;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ANIMAÇÃO BOTÃO ENTRAR */
#entrar:active{
    transform: scale(0.9);
}

/* BOTÕES DO HEADER */
#comeco{
    color: white;
    font-size: 22px;
    text-decoration: none;
    position: relative;
}

/* ANIMAÇÃO BOTÕES DO HEADER */
#comeco::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: red;
    transition: width 0.5s;
}

#comeco:hover::after{
    width: 100%;
}

/* ANIMAÇÃO LOGO */
#imgL{
    transition: transform 0.2s ease-in;
}

#imgL:hover{
    transform: scale(1.1);
}

#mapa{
    text-align: center;
}

body{
    margin: 0 auto;
    font-family: Montserrat;
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

/* Rodapé */
footer{
    background-color: #6e1e23;
    height: 19vh;
    margin-top: 85px;
    width: 100%;
    border-top: 6px solid #6e1e23;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
    margin: 0 ;
}

footer hr{
    width: 50vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container2{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contato{
    display: flex;
    justify-content: center;
    width: 100%;
}

.wpp{
    width: 30px;
    height: 30px;
}

.container{
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}

p, strong{
    color: white;
    display: flex;
    justify-content: left;
}

.numero{
    display: flex;
    align-items: center;
    justify-content: left;
}

.numero img{
    margin-right: 10px;
}

.contato1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

map{
    margin-left: 300px;
}

.botoes button{
    border-radius: 360px;
    width: 50px;
    height: 50px;
    background-color: white;
}

.botoes{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 450px;
    margin-top: -150px;
}

.botao1{
    width: 70px;
    height: 70px;
    background-color: #6e1e23;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 360px;
}

.botao1 img{
    width: 40px;
    height: 40px;
}