div{
    width: 300px;
    height: 300px;
    margin: 20px;
    border: 3px solid black;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

/* CAIXAS */
.caixa1{
    background: linear-gradient(red, blue);
}

.caixa2{
    background: linear-gradient(to right ,green, yellow, orange);
}

.caixa3{
    background: linear-gradient(135deg, purple, pink, white);
}

.caixa4{
    background: radial-gradient(circle at center, lightblue, darkblue);
}

.caixa5{
    background: radial-gradient(ellipse at top left, pink, white);
}

.caixa6{
    background: conic-gradient(red, yellow, green, blue);
}