@font-face{
    font-family: Poppins;
    src: url(/ConclusaoDeCurso/Fontes/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: MontSerrat;
    src: url(/ConclusaoDeCurso/Fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Unifraktur;
    src: url(/ConclusaoDeCurso/Fontes/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf);
}

@font-face {
    font-family: Kaushan;
    src: url(/ConclusaoDeCurso/Fontes/Kaushan_Script/KaushanScript-Regular.ttf);
}

body{
    background-color: black;
    margin: auto;
    overflow-x: hidden;
    background-position: center;
    font-family: "Montserrat", sans-serif;
}

header{
    background-color: #6e1e23;
    padding: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

/* FOOTER */
footer{
    background-color: #6e1e23;
    height: 19vh;
    margin-top: 50px;
    width: 100%;
    border-top: 6px solid #6e1e23;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
    margin: 0;
}

footer hr{
    width: 50vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}



/* --------------------------- */

.COMECO{
    width: 76vw;
    display: flex;
    justify-content: center;
}

.COMECO a{
    margin: 0 110px;
}

/*BOTOES*/
#entrar{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 18px;
    transition: transform 0.5s ease-in-out;
    background-color: black;
}

/* ANIMAÇÃO BOTÃO ENTRAR */
#entrar:hover{
    opacity: 1;
    transform: scale(1.2);
}

/* BOTÕES DO HEADER */
#comeco{
    color: white;
    font-size: 22px;
    text-decoration: none;
    position: relative;
}

/* ANIMAÇÃO BOTÕES DO HEADER */
#comeco::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: width 0.5s;
}

#comeco:hover::after{
    width: 100%;
}

.TituloMain{
    font-size: 70px;
    margin: 0 auto;
    font-family: "Kaushan";
}

/* MAIN */
main{
    max-width: 94vw;
    height: 112.5vh;
    background-color: white;
    margin: 0 auto;
    border: 6px solid #6e1e23;
    border-radius: 12px;
}

/* ORGANIZAÇÃO DAS IMAGENS DO PRODUTO */
.organizacao{
    display: flex;
    gap: 0;
}

.IMGcarro{
    width: auto;
    margin-top: 25px;
    margin-left: 25px;
}

img{
    display: flex;
    gap: 1px;
}

#img1{
    width: 806px;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
    border-left: 6px solid black;
    border-right: 6px solid black;
}

#img2{
    width: 400px;
    border-left: 6px solid black;
    border-right: 3px solid black;
    border-bottom: 6px solid black;
}

#img3{
    width: 400px;
    border-left: 3px solid black;
    border-right: 6px solid black;
    border-bottom: 6px solid black;
}

/*---------------------------------------------*/

.container {
    margin: 5px;
    display: flex;
}

.container h1{
    font-size: 50px;
    text-align: center;
    margin-left: 40px;
}

.info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.org{
    width: 100%;
    display: flex;
    justify-content: center;
}

.info1{
    border: 6px solid gray;
    border-radius: 12px;
    width: 450px;
    height: 570px;
}

.info1 p{
    font-family: Montserrat;
    margin-left: 43px;
}

.info1 h2{
    text-align: center;
    font-size: 35px;
}

.info1 h3{
    text-align: center;
}

hr{
    width: 40vw;
    height: 1px;
    background-color: black;
    margin-top: 20px;
}

.preco{
    font-family: Poppins;
    font-size: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #6e1e23;
}

.infoP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.infoP h1{
    margin-left: 0;
    font-size: 50px;
    font-family: Montserrat;
}

.caixa1{
    border: 3px solid black;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.caixa1 p{
    margin-top: 50px;
    font-size: 22px;
    margin-bottom: 10px;
}

.informa{
    margin-bottom: -50px;
}

.caixas{
    display: flex;
    width: 900px;
    justify-content: space-around;
    margin-top: -100px;
}

.caixa1 img{
    width: 70px;
    height: 70px;
    margin-bottom: -40px;
    margin-top: 10px;
}

.caixa1 strong{
    font-size: 16px;
    color: #6e1e23;
}   

.wpp{
    border-radius: 360px;
    background-color: #32d951;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 830px;
    left: 94%;
    cursor: pointer;
}

.wpp:active{
    transform: scale(0.90);
}

.wpp img{
    width: 50px;
    height: 50px;
}