body{
    margin: auto;
    background-color: black;
    overflow-x: hidden;
    background-position: center;
    font-family: "Montserrat", sans-serif;
}

header{
    background-color: black;
    padding: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 6px solid #6e1e23;
    position: fixed;
    z-index: 7;
    top: 0;
}

.COMECO{
    width: 76vw;
    display: flex;
    justify-content: center;
}

.COMECO a{
    margin: 0 110px;
}

/* Rodapé */
footer{
    background-color: #6e1e23;
    height: 19vh;
    margin-top: 85px;
    width: 100%;
    border-top: 6px solid #6e1e23;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
    margin: 0 ;
}

footer hr{
    width: 50vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    text-align: center;
}

/* Main */
main{
    max-width: 1400px;
    height: 180vh;
    background-color: #f8f9fa;
    border-radius: 20px;
    padding: 40px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center; 
    border: 6px solid #6e1e23;
}

.TituloMain{
    font-size: 70px;
    margin: 0 auto;
    font-family: "Kaushan";
}
/* Titulo do Carrossel */
.tituloPrincipal{
    font-family: "UnifrakturMaguntia", cursive;
    font-size: 100px;
    position: absolute;
}

.imagens{
    width: 99.9vw;
    height: 467px;
}

.carrossel{
    width: 99.9vw;
    height: 467px;
    border-bottom: 5px solid #6e1e23;
    margin-top: 137px;
}

.cImg{
    display: flex;
    width: 400%;
    animation: deslizar 13.5s infinite;
}

@keyframes deslizar {
    0%{transform: translateX(0);}
    20%{transform: translateX(0);}

    45%{transform: translateX(-1920px);}
    25%{transform: translateX(-1920px);}

    50%{transform: translateX(-3840px);}
    70%{transform: translateX(-3840px);}

    75%{transform: translateX(-5760px);}
    95%{transform: translateX(-5760px);}

    100%{transform: translateX(0);}
}

/* Produtos */
.Imgproduto{
    width: 350px;
    
    display: flex;
    justify-content: space-around;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.produto:hover{
    transform: scale(1.1);
}

.produto{
    width: 350px;
    height: auto;
    text-align: center;
    margin-top: 50px;
    border: 6px solid #6e1e23;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    box-shadow: 5px 5px 5px #A0A0A0;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.carro{
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 1px;
    font-family: MontSerrat;
}

/* Separador */

hr{
    width: 348px;
    color: white;
    margin-top: 5px;
}

/* Link */

a{
    text-decoration: none;
    color: black;
}

/* Informações do carro */

.infoP{
    display: flex;
    justify-content: space-around;
}   

.informacoes{
    font-size: 20px;
}

.preco{
    font-family: Poppins;
    font-size: 37px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #6e1e23;
}
/* FONTES */

@font-face{
    font-family: Poppins;
    src: url(/ConclusaoDeCurso/Fontes/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: MontSerrat;
    src: url(/ConclusaoDeCurso/Fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Unifraktur;
    src: url(/ConclusaoDeCurso/Fontes/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf);
}

@font-face {
    font-family: Kaushan;
    src: url(/ConclusaoDeCurso/Fontes/Kaushan_Script/KaushanScript-Regular.ttf);
}

/* Filtragem */
select{
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
}

.opcoes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

option{
    font-size: 16px;
    border-radius: 6px;
    
}

/* ANIMAÇÃO DOS SELECT*/
#tipo, #marca, #preco{
    font-size: 20px;
    width: 205px;
    padding: 10px;
    transition: border 0.5s ease-in-out;
}

#tipo:focus, #marca:focus, #preco:focus{
    border: 6px solid #6e1e23;
    outline: none;
}

/*BOTOES*/
#entrar{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 18px;
    transition: transform 0.5s ease-in-out;
    background-color: #6e1e23;
}

/* ANIMAÇÃO BOTÃO ENTRAR */
#entrar:hover{
    opacity: 1;
    transform: scale(1.2);
}

/* BOTÕES DO HEADER */
#comeco{
    color: white;
    font-size: 22px;
    text-decoration: none;
    position: relative;
}

/* ANIMAÇÃO BOTÕES DO HEADER */
#comeco::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: red;
    transition: width 0.5s;
}

#comeco:hover::after{
    width: 100%;
}

/* ANIMAÇÃO LOGO */
#imgL{
    transition: transform 0.2s ease-in;
}

#imgL:hover{
    transform: scale(1.1);
}

#mapa{
    text-align: center;
}

/* ------------------------------- */

.tituloLoca{
    color: white;
    font-family: "kaushan";
    font-size: 40px;
}

.wpp{
    border-radius: 360px;
    background-color: #32d951;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 830px;
    left: 94%;
    cursor: pointer;
}

.wpp:active{
    transform: scale(0.90);
}

.wpp img{
    width: 50px;
    height: 50px;
}