/* CORPO */
body{
    margin: 0;
    background-color: #ffffff;
    text-align: center;
    background-image: url(/ConclusaoDeCurso/inicio/TelaInicial/imagens/fundo.jpg);
    overflow: hidden;
}

header{
    background-color: black;
    padding: 30px;
    margin-bottom: 25px;
}

footer{
    background-color: black;
    padding: 45px;
    margin-top: 25px;
    position: absolute;
    width: 100%;
}

main{
    max-width: 850px;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.8) ;
    border-radius: 20px;
    margin: 0 auto;
}

/* Titulo da Página */

.tituloPrincipal{
    color: white;
    font-size: 50px;
}

/* Imagem conta */
.contaImg{
    width: 180px;  
    margin-top: 25px; 
}

/* Organização do main */
.cadastro{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
}

/* Design Input */
input{
    background: #6e1e23;
    border: none;
    border-radius: 20px;
    width: 250px;
    height: 35px;
    margin-top: 2px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
    transition: 100ms ease-in-out;
}

input:focus{
    border: 2px solid black;
    outline: none;
}

/* Organização formulario */
.form1, .form2{
    margin-top: 40px;
    margin-bottom: 40px;
}

/* BOTÃO ENVIAR */
.enviar, .cancelar{
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 45px;
    background-color: #6e1e23;
    color: white;
    font-size: 18px;
    transition: 100ms ease-in-out;
}

.enviar:active, .cancelar:active{
    transform: scale(0.90);
}

.tituloCaixa{
    font-size: 25px;
}

button{
    cursor: pointer;
}

/* ANIMAÇÃO LOGO */

.imgLogo{
        transition: transform 0.2s ease-in;
    }

    .imgLogo:hover{
        transform: scale(1.1);
    }