/* CORPO */
body{
    margin: 0;
    background-color: #ffffff;
    background-image: url(/ConclusaoDeCurso/inicio/TelaInicial/imagens/fundo1.jpg);
    overflow: hidden; 
}

header{
    background-color: black;
    padding: 40px;
    margin-bottom: 45px;
    width: 100%;
    border-bottom: 6px solid #6e1e23;
}

.imgLogo{
    margin-left: 810px;
    cursor: pointer;
}

.imgLogo{
    transition: transform 0.2s ease-in;
}

.imgLogo:hover{
    transform: scale(1.1);
}

footer{
    background-color: black;
    padding: 50px;
    margin-top: 45px;
    position: absolute;
    width: 100%;
    border-top: 6px solid #6e1e23;
}

main{
    max-width: 950px;
    height: 520px;
    background-color: rgba(255, 255, 255, 0.8) ;
    border-radius: 20px;
    padding: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/* --------------- */

/* Espaçamento */
.espacamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100%;   
}

hr{
    width: 1px;
    height: 220px;
}

p{
    font-size: 20px;
    color: gray;
}


/* --------------- */

/* TITULO */
.Titulo{
    font-size: 38px;
}


/* BOTÕES REDES SOCIAIS */
.CONTINUAR{
    text-decoration: none;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 32px;   
    border: none;
    display: flex;
    align-items: center;
}

#facebook{
    background-color: #1877F2;
}

.imgFace, .imgX, .imgApple, .imgGoogle{
    width: 35px;
    margin-left: 15px;
    margin-right: 30px;
}

#google{
    background-color: #ffffff;
    border: 3px solid #DADCE0;
    color: black;
}

#X, #apple{
    background-color: black;
}

.entrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
}

/* --------------- */

/* LOGAR */
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    background-color: #6e1e23;
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 35px;
    margin-top: 2px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    transition: 100ms ease-in-out;
}

.tituloCaixa{
    font-size: 25px;
}

.enviar{
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    background-color: #6e1e23;
    color: white;
    font-size: 18px;
    transition: 100ms ease-in-out;
}

#pLogin{
    margin-bottom: 0;
}   

.cadastre, .funcionario{
    font-size: 18px;
    color: black;
}

.cadastrese, .logarFuncionario{
    color: #0cc0df;
    text-decoration: none;
}

.esqueciSenha{
    text-decoration: none;
    color: red;
}

.wpp{
    border-radius: 360px;
    background-color: #32d951;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 830px;
    left: 94%;
    cursor: pointer;
    z-index: 7;
}

.wpp:active{
    transform: scale(0.90);
}

.wpp img{
    width: 50px;
    height: 50px;
}