@font-face{
    font-family: Poppins;
    src: url(/ConclusaoDeCurso/Fontes/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: MontSerrat;
    src: url(/ConclusaoDeCurso/Fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Unifraktur;
    src: url(/ConclusaoDeCurso/Fontes/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf);
}

@font-face {
    font-family: Kaushan;
    src: url(/ConclusaoDeCurso/Fontes/Kaushan_Script/KaushanScript-Regular.ttf);
}

body{
    margin: 0;
    background-color: black;
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

/* CABEÇALHO */
header{
    background-color: black;
    padding: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 6px solid #6e1e23;
    position: fixed;
    z-index: 7;
    top: 0;
}

.COMECO{
    width: 76vw;
    display: flex;
    justify-content: center;
}

.COMECO a{
    margin: 0 110px;
}

/* ANIMAÇÃO LOGO */

#imgL{
    transition: transform 0.2s ease-in;
}

#imgL:hover{
    transform: scale(1.1);
}

    /*BOTOES*/
    #entrar{
        width: 100px;
        height: 50px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        border: none;
        font-size: 18px;
        background-color: #6e1e23;
    }

    /* ANIMAÇÃO BOTÃO ENTRAR */
    #entrar:active{
        transform: scale(0.9);
    }

    /* BOTÕES DO HEADER */
    #comeco{
        color: white;
        font-size: 22px;
        text-decoration: none;
        position: relative;
    }

    /* ANIMAÇÃO BOTÕES DO HEADER */
    #comeco::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 3px;
        background-color: #ff3131;
        transition: width 0.5s;
    }

    #comeco:hover::after{
        width: 100%;
    }
/* ---------------------- */

/* SOBRE NÓS */
.container{
    display: flex;
    overflow: hidden;
    margin-top: 10px;
}

.imagem{
    position: relative;
    display: inline-block;
    width: 130%;
}

.nos{
    display: block;
    width: 100%;
    margin-top: 120px;
}

.imagem::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 20%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.692), transparent);
}

.caixa1{
    width: 500px;
    height: 300px;
    margin-top: 170px;
    margin-right: 10px;
}

.caixa2{
    width: 500px;
    height: 300px;
    margin-top: 10px;
}

.caixa3{
    width: 1100px;
    height: 614px;
    margin-top: 212px;
    margin-right: 10px;
}

.caixa1, .caixa2, .caixa3{
    border: 2px solid #6e1e23;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.350);
}

.titulo{
    margin-top: 80px;
}

.main{
    margin-left: -70px;
    position: relative;
    z-index: 5;
    margin-top: 42px;
}

.caixa1 h1, .caixa2 h1, .caixa3 h1{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Kaushan";
    font-size: 42px;
}

.caixa1 p, .caixa2 p, .caixa3 p{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
/* ---------------------- */

/* FOOTER */
footer{
    background-color: #6e1e23;
    height: 18vh;
    width: 100%;
    border-top: 6px solid #6e1e23;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
}

footer p{
    color: white;
    margin: 0 ;
}

footer hr{
    width: 50vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container1{
    text-align: center;
}

hr{
    width: 348px;
    color: white;
    margin-top: 5px;
}

/* MAPA */
.tituloLoca{
    color: white;
    font-family: "kaushan";
    font-size: 40px;
}

#mapa{
    text-align: center;
}
/* ------------------------------- */

/* BOTAO WHATSAPP */
.wpp{
    border-radius: 360px;
    background-color: #32d951;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 830px;
    left: 94%;
    cursor: pointer;
}

.wpp:active{
    transform: scale(0.90);
}

.wpp img{
    width: 50px;
    height: 50px;
}
/* ------------------------------------- */

