@font-face{
    font-family: Poppins;
    src: url(/ConclusaoDeCurso/Fontes/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: MontSerrat;
    src: url(/ConclusaoDeCurso/Fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Unifraktur;
    src: url(/ConclusaoDeCurso/Fontes/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf);
}

@font-face {
    font-family: Kaushan;
    src: url(/ConclusaoDeCurso/Fontes/Kaushan_Script/KaushanScript-Regular.ttf);
}

body{
    background-color: black;
    margin: auto;
    overflow-x: hidden;
    background-position: center;
    font-family: "Montserrat", sans-serif;
}

header{
    background-color: #6e1e23;
    padding: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 6px solid white;
    margin-bottom: 85px;
    position: fixed;
    top: 0;
    z-index: 7;
}

.main1{
    max-width: 95vw;
    height: 120vh;
    background-color: white;
    margin: 0 auto;
    border: 6px solid #6e1e23;
    border-radius: 12px;
    margin-top: 200px;
    margin-bottom: 50px;
}

/* FOOTER */
footer{
    background-color: #6e1e23;
    height: 19vh;
    margin-top: 50px;
    width: 100%;
    border-top: 6px solid #6e1e23;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

footer p{
    color: white;
    margin: 0;
}

footer hr{
    width: 50vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* --------------------------- */

.COMECO{
    width: 76vw;
    display: flex;
    justify-content: center;
}

.COMECO a{
    margin: 0 110px;
}

/*BOTOES*/
#entrar{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 18px;
    background-color: black;
}

/* ANIMAÇÃO BOTÃO ENTRAR */
#entrar:active{
    transform: scale(0.9);
}

/* BOTÕES DO HEADER */
#comeco{
    color: white;
    font-size: 22px;
    text-decoration: none;
    position: relative;
}

/* ANIMAÇÃO BOTÕES DO HEADER */
#comeco::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: width 0.5s;
}

#comeco:hover::after{
    width: 100%;
}

.TituloMain{
    font-size: 70px;
    margin: 0 auto;
    font-family: "Kaushan";
}

/* ORGANIZAÇÃO DAS IMAGENS DO PRODUTO */
.organizacao{
    display: flex;
    gap: 0;
}

.IMGcarro{
    width: auto;
    margin-top: 25px;
    margin-left: 25px;
}

img{
    display: flex;
    gap: 1px;
}

#img1{
    width: 874px;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
    border-left: 6px solid black;
    border-right: 6px solid black;
}

#img2{
    width: 434px;
    border-left: 6px solid black;
    border-right: 3px solid black;
    border-bottom: 6px solid black;
}

#img3{
    width: 434px;
    border-left: 3px solid black;
    border-right: 6px solid black;
    border-bottom: 6px solid black;
}

/*---------------------------------------------*/

.container {
    margin: 5px;
    display: flex;
}

.container h1{
    font-size: 50px;
    text-align: center;
    margin-left: 90px;
}

.info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.org{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.info1{
    border: 6px solid gray;
    border-radius: 12px;
    width: 600px;
    height: 570px;
}

.info1 p{
    font-family: Montserrat;
    margin-left: 115px;
}

.info1 h2{
    text-align: center;
    font-size: 35px;
}

.info1 h3{
    text-align: center;
}

.sep{
    width: 99.75%;
}

hr{
    width: 40vw;
    height: 1px;
    background-color: black;
    margin-top: 15px;
}

.preco{
    font-family: Poppins;
    font-size: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #6e1e23;
}

.infoP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.infoP h1{
    margin-left: 0;
    font-size: 50px;
    font-family: Montserrat;
}

/* CAIXAS DE INFORMAÇÕES */

.caixa1{
    border: 3px solid black;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.caixa1 p{
    margin-top: 50px;
    font-size: 22px;
    margin-bottom: 10px;
}

.informa{
    margin-bottom: -50px;
}

.caixas1{
    display: flex;
    width: 900px;
    justify-content: space-around;
    margin-top: 5px;
    margin-left: 23px;
}

.caixa1 img{
    width: 70px;
    height: 70px;
    margin-bottom: -40px;
    margin-top: 10px;
}

.caixa1 strong{
    font-size: 18px;
    color: #6e1e23;
}   

.wpp{
    border-radius: 360px;
    background-color: #32d951;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 830px;
    left: 94%;
    cursor: pointer;
}

.wpp:active{
    transform: scale(0.90);
}

.wpp img{
    width: 50px;
    height: 50px;
}

/* SEPARADOR DAS MINI PAGINAS */
.separador{
    width: 69.2%;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* PRODUTO2 */
.main2{
    max-width: 95vw;
    height: 130vh;
    background-color: white;
    margin: 0 auto;
    border: 6px solid #6e1e23;
    border-radius: 12px;
    margin-top: 200px;
    margin-bottom: 50px;
}

/* CAIXAS DE INFORMAÇÕES */

.caixa2{
    border: 3px solid black;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.caixa2 p{
    margin-top: 50px;
    font-size: 22px;
    margin-bottom: 10px;
}

.caixas2{
    display: flex;
    width: 900px;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 23px;
}

.caixa2 img{
    width: 70px;
    height: 70px;
    margin-bottom: -40px;
    margin-top: 10px;
}

.caixa2 strong{
    font-size: 18px;
    color: #6e1e23;
}   

.info1PRODUTO2{
    border: 6px solid gray;
    border-radius: 12px;
    width: 600px;
    height: 550px;
}

.info1PRODUTO2 p{
    font-family: Montserrat;
    margin-left: 60px;
}

.info1PRODUTO2 h2{
    text-align: center;
    font-size: 35px;
}

.info1PRODUTO2 h3{
    text-align: center;
}

/* -------------------------- */

/* PRODUTO 3 */
.main3{
    max-width: 95vw;
    height: 133vh;
    background-color: white;
    margin: 0 auto;
    border: 6px solid #6e1e23;
    border-radius: 12px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.caixa3{
    border: 3px solid black;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.caixa3 p{
    margin-top: 50px;
    font-size: 22px;
    margin-bottom: 10px;
}

.caixas3{
    display: flex;
    width: 900px;
    justify-content: space-around;
    margin-left: 23px;
}

.caixa3 img{
    width: 70px;
    height: 70px;
    margin-bottom: -40px;
    margin-top: 10px;
}

.caixa3 strong{
    font-size: 18px;
    color: #6e1e23;
}   

.info1PRODUTO3{
    border: 6px solid gray;
    border-radius: 12px;
    width: 600px;
    height: 620px;
}

.info1PRODUTO3 p{
    font-family: Montserrat;
    margin-left: 60px;
}

.info1PRODUTO3 h2{
    text-align: center;
    font-size: 35px;
}

.info1PRODUTO3 h3{
    text-align: center;
}

/* ---------------------------------- */

/* MAIS PRODUTOS */
.MAISPRODUTOS{
    margin: 0 auto;
    width: 75%;
    height: auto;
    text-align: center;
}

/* Produtos */
    .Imgproduto{
        width: 350px;
        display: flex;
        justify-content: space-around;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }

    .produto:hover{
        transform: scale(1.1);
        border: 6px solid #6e1e23;
        box-shadow: 0 0 20px #6e1e23;
    }

    .produto{
        width: 350px;
        height: 560px;
        text-align: center;
        border: 6px solid lightgray;
        border-radius: 16px;
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }

    .produtos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .carro{
        font-size: 24px;
        font-family: MontSerrat;
        margin-bottom: -5px;
        color: white;
    }

    .INFO{
        height: 150px;
    }

    .INFO p{
        margin-top: 20px;
    }

/* SEPARADOR */
.produto hr{
    width: 348px;
    color: white;
    background-color: lightgray;
    margin-top: -30px;
    margin-bottom: 10px;
    height: 3px;
}


.infoPMAISPRODUTOS{
    display: flex;
    justify-content: space-around;
    align-items: center;
}   

.informacoes{
    font-size: 18px;
    margin-top: 21px;
    color: white;
}

.info10{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.info10 img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.preco1{
    font-family: Poppins;
    font-size: 35px;
    color: #6e1e23;
}

a{
    text-decoration: none;
    color: white;
}

.TituloMainMAISPRODUTOS{
    font-size: 70px;
    font-family: "Kaushan";
    color: white;
}
/* PRODUTOS 4 */
.main4{
    max-width: 95vw;
    height: 133vh;
    background-color: white;
    margin: 0 auto;
    border: 6px solid #6e1e23;
    border-radius: 12px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.caixa4{
    border: 3px solid black;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.caixa4 p{
    margin-top: 50px;
    font-size: 22px;
    margin-bottom: 10px;
}

.caixas4{
    display: flex;
    width: 900px;
    justify-content: space-around;
    margin-left: 23px;
    margin-top: 5px;
}

.caixa4 img{
    width: 70px;
    height: 70px;
    margin-bottom: -40px;
    margin-top: 10px;
}

.caixa4 strong{
    font-size: 18px;
    color: #6e1e23;
}   

.info1PRODUTO4{
    border: 6px solid gray;
    border-radius: 12px;
    width: 600px;
    height: 620px;
}

.info1PRODUTO4 p{
    font-family: Montserrat;
    margin-left: 60px;
}

.info1PRODUTO4 h2{
    text-align: center;
    font-size: 35px;
}

.info1PRODUTO4 h3{
    text-align: center;
}

/* PRODUTOS 5 */
.main5{
    max-width: 95vw;
    height: 133vh;
    background-color: white;
    margin: 0 auto;
    border: 6px solid #6e1e23;
    border-radius: 12px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.caixa5{
    border: 3px solid black;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.caixa5 p{
    margin-top: 50px;
    font-size: 22px;
    margin-bottom: 10px;
}

.caixas5{
    display: flex;
    width: 900px;
    justify-content: space-around;
    margin-left: 23px;
    margin-top: 5px;
}

.caixa5 img{
    width: 70px;
    height: 70px;
    margin-bottom: -40px;
    margin-top: 10px;
}

.caixa5 strong{
    font-size: 18px;
    color: #6e1e23;
}   

.info1PRODUTO5{
    border: 6px solid gray;
    border-radius: 12px;
    width: 600px;
    height: 620px;
}

.info1PRODUTO5 p{
    font-family: Montserrat;
    margin-left: 60px;
}

.info1PRODUTO5 h2{
    text-align: center;
    font-size: 35px;
}

.info1PRODUTO5 h3{
    text-align: center;
}

/* PRODUTOS 6 */
.main6{
    max-width: 95vw;
    height: 133vh;
    background-color: white;
    margin: 0 auto;
    border: 6px solid #6e1e23;
    border-radius: 12px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.caixa6{
    border: 3px solid black;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.caixa6 p{
    margin-top: 50px;
    font-size: 22px;
    margin-bottom: 10px;
}

.caixas6{
    display: flex;
    width: 900px;
    justify-content: space-around;
    margin-left: 23px;
    margin-top: 5px;
}

.caixa6 img{
    width: 70px;
    height: 70px;
    margin-bottom: -40px;
    margin-top: 10px;
}

.caixa6 strong{
    font-size: 18px;
    color: #6e1e23;
}   

.info1PRODUTO6{
    border: 6px solid gray;
    border-radius: 12px;
    width: 600px;
    height: 620px;
}

.info1PRODUTO6 p{
    font-family: Montserrat;
    margin-left: 60px;
}

.info1PRODUTO6 h2{
    text-align: center;
    font-size: 35px;
}

.info1PRODUTO6 h3{
    text-align: center;
}

/* PRODUTOS 7 */
.main7{
    max-width: 95vw;
    height: 133vh;
    background-color: white;
    margin: 0 auto;
    border: 6px solid #6e1e23;
    border-radius: 12px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.caixa7{
    border: 3px solid black;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.caixa7 p{
    margin-top: 50px;
    font-size: 22px;
    margin-bottom: 10px;
}

.caixas7{
    display: flex;
    width: 900px;
    justify-content: space-around;
    margin-left: 23px;
    margin-top: 5px;
}

.caixa7 img{
    width: 70px;
    height: 70px;
    margin-bottom: -40px;
    margin-top: 10px;
}

.caixa7 strong{
    font-size: 18px;
    color: #6e1e23;
}   

.info1PRODUTO7{
    border: 6px solid gray;
    border-radius: 12px;
    width: 600px;
    height: 620px;
}

.info1PRODUTO7 p{
    font-family: Montserrat;
    margin-left: 60px;
}

.info1PRODUTO7 h2{
    text-align: center;
    font-size: 35px;
}

.info1PRODUTO7 h3{
    text-align: center;
}

/* PRODUTOS 8 */
.main8{
    max-width: 95vw;
    height: 133vh;
    background-color: white;
    margin: 0 auto;
    border: 6px solid #6e1e23;
    border-radius: 12px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.caixa8{
    border: 3px solid black;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.caixa8 p{
    margin-top: 50px;
    font-size: 22px;
    margin-bottom: 10px;
}

.caixas8{
    display: flex;
    width: 900px;
    justify-content: space-around;
    margin-left: 23px;
    margin-top: 5px;
}

.caixa8 img{
    width: 70px;
    height: 70px;
    margin-bottom: -40px;
    margin-top: 10px;
}

.caixa8 strong{
    font-size: 18px;
    color: #6e1e23;
}   

.info1PRODUTO8{
    border: 6px solid gray;
    border-radius: 12px;
    width: 600px;
    height: 620px;
}

.info1PRODUTO8 p{
    font-family: Montserrat;
    margin-left: 60px;
}

.info1PRODUTO8 h2{
    text-align: center;
    font-size: 35px;
}

.info1PRODUTO8 h3{
    text-align: center;
}

/* PRODUTOS 9 */
.main9{
    max-width: 95vw;
    height: 133vh;
    background-color: white;
    margin: 0 auto;
    border: 6px solid #6e1e23;
    border-radius: 12px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.caixa9{
    border: 3px solid black;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.caixa9 p{
    margin-top: 50px;
    font-size: 22px;
    margin-bottom: 10px;
}

.caixas9{
    display: flex;
    width: 900px;
    justify-content: space-around;
    margin-left: 23px;
    margin-top: 5px;
}

.caixa9 img{
    width: 70px;
    height: 70px;
    margin-bottom: -40px;
    margin-top: 10px;
}

.caixa9 strong{
    font-size: 18px;
    color: #6e1e23;
}   

.info1PRODUTO9{
    border: 6px solid gray;
    border-radius: 12px;
    width: 600px;
    height: 620px;
}

.info1PRODUTO9 p{
    font-family: Montserrat;
    margin-left: 60px;
}

.info1PRODUTO9 h2{
    text-align: center;
    font-size: 35px;
}

.info1PRODUTO9 h3{
    text-align: center;
}